<h4 class="createProjectH4">Upload your marker files for the project. </h4>
<div>
    <form>
        <input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
    </form>
</div>

<div class="col-xs-12" class="btnbox-center">
        <a ui-sref="project.addMedia" class="btn btn-right btn-info" ng-disabled=signupform.$invalid>
                Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
        <a ui-sref="project.createProject" class="btn btn-info">
         <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </a>   
        </div>

<script type="text/javascript">
    $(document).ready(function() {
        $('input[type="file"]').imageuploadify();
    })
</script>
