

<div class="device-wrapper" ng-controller="edit">
        <div class="device" data-device="iPhone6Plus" data-orientation="landscape" data-color="black">
          <div class="screen">
            <!-- PUT CONTENTS HERE -->
            
            <div class="demo">
                    <div class="item">            
                        <div class="clearfix" >
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                <li > 
                                    <img src="img/cS-1.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-2.jpg"> 
                                    <img src="img/cS-2.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-3.jpg"> 
                                    <img src="img/cS-3.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-4.jpg"> 
                                    <img src="img/cS-4.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-5.jpg"> 
                                    <img src="img/cS-5.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-6.jpg"> 
                                    <img src="img/cS-6.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-7.jpg"> 
                                    <img src="img/cS-7.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-8.jpg"> 
                                    <img src="img/cS-8.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-9.jpg"> 
                                    <img src="img/cS-9.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-10.jpg"> 
                                    <img src="img/cS-10.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-11.jpg"> 
                                    <img src="img/cS-11.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-12.jpg"> 
                                    <img src="img/cS-12.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-13.jpg"> 
                                    <img src="img/cS-13.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-14.jpg"> 
                                    <img src="img/cS-14.jpg" />
                                     </li>
                                <li data-thumb="img/thumb/cS-15.jpg"> 
                                    <img src="img/cS-15.jpg" />
                                     </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>



          </div>
          <div class="button">
            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
          </div>
        </div>
      </div>
      

      <div class="col-xs-12" class="btnbox-center">
            <a ui-sref="project.publish" class="btn btn-right btn-info" >
                    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </a>
            <a ui-sref="project.addMedia" class="btn btn-info">
             <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
            </a>   
            </div>
        