<div class="text-center">
        <span class="glyphicon glyphicon-heart"></span>
        <h3>Thanks you for publishing!</h3>
        
    </div><div class="col-xs-12" class="btnbox-center">
            <a ui-sref="form.publish" class="btn btn-right btn-danger">
                    Save <span class="glyphicon glyphicon-ok-sign"></span>
                    </a>
        <a ui-sref="project.edit" class="btn btn-info">
         <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </a>
        
    </div>